<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
    	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark text-light">
			<a class="navbar-brand" href="/">
				<i class="fas fas-icon " >
					<image style="height:30px" src="/images/logo2.png" />
				</i>
				ServiceApp
			</a>			
			<button id="toggle" class="navbar-toggler btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação" th:if="${user != null}">
				<span class="navbar-toggler-icon">
					<img width=28 th:src="${user?.avatar_url}" class="fas fa-user" id="socialIcon" /> 
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse" sec:authorize="isAuthenticated()" th:if="${user != null}">
				<div class="nav navbar-nav">        
	        		<a onclick="loadServicos()" class="btn btn-success btn-outline-light">Editar Serviços</a>
	        		<a onclick="loadAllPrestadores()" class="btn btn-warning btn-outline-light">Editar Usuários</a>
	        		<a class="btn btn-kark btn-outline-light" th:href="@{/}"><i class="fas fa-sign-out-alt"></i>Voltar ao Início</a>
					<a class="btn ml-auto">
						<span id="SocialName" th:alt="${user?.id}" th:text="${user?.name}"></span>
						<img width=28 th:src="${user?.avatar_url}" class="fas fa-user" id="socialIcon" />
					</a>
        		</div>
			</div>
		</nav>
		<script>
			$(document).ready(function () {
			    $(document).click(function (event) {
			        var click = $(event.target);
			        var _open = $(".navbar-collapse").hasClass("show");
			        if (_open === true && !click.hasClass("navbar-toggler")) {
			            $(".navbar-toggler").click();
			        }
			    });
			});
		</script>
	</header>
</body>
</html>