<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"></head>
<body>
	<script type="text/javascript" class="layout-scripts" th:fragment="scripts">
		  ////////////////////////
		 //VARIÁVEIS DEAMBIENTE//
		////////////////////////
		var user, servicos, servico = {id:'', name:''}, prestadores, prestador, loop=false, position, lastMessageId;
	
		  ////////////////////////////
		 //FUNÇÕES DA TELA SERVIÇOS//
		////////////////////////////
		
		// Converter imagem para base64
		
		// Gera botao de Servico
		function geraBotaoServico(servico){
			servico.foto == null ? servico.foto='/images/logo2.png' : {};
			return'<div class="row bg-light text-dark col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 m-2 btn-outline-warning align-top align-text-top" style="border-radius: 30px" onclick="loadPrestadores('+servico.id+', \''+servico.name+'\')">'+
				'<div class="col col-4">'+
					'<img id="avatar" class="bd-placeholder-img w-100" src="'+servico.foto+'" alt="Avatar" height=100% style="border-redius:50%"/>'+
				'</div>'+
				'<div class="col col-8">'+
					'<div class="col font-weight-bold  bg-light">'+ servico.name + '</div>'+
   					'<div class="col small  bg-light">'+servico.descricao+'</div>'+
				'</div>'+
			'</div>';
		}
		
	    // Adicionar Servico a lista
		function addServico(servico){
			var botao = geraBotaoServico(servico);
			$("#listaServicos").append(botao);
		}
		
	    // Carrega lista de Servicos
		function loadServicos(){							
			$.get("/api/s", function(serv) {
				servicos = serv;
				$("#listaServicos").html('');
				servicos.forEach(addServico);
				show("Servicos");
			});
		}
		
	    // Filtrar na lista de Servicos
		function filterServicos(text){
			var find = false;
			$("#listaServicos").html('');
			servicos.forEach(function(s){
				if(s.name.toLowerCase().indexOf(text.toLowerCase()) > -1){
					addServico(s); 								
				};
			});
		}
		
		  ///////////////////////////////
		 //FUNÇOES DA TELA PRESTADORES//
		///////////////////////////////
		
		// Gera botao de Prestador
		function geraBotaoPrestador(prestador){
			var servs = '';
			prestador.servicos.forEach(function(s){
				servs += '<span class="btn m-0 p-0 border-warning" style="border-radius: 10px">'+s.name+' </span>';
			});
			var plural = prestador.notRead == 1 ? ' mensagem ' : ' mensagens '
			var color = prestador.notRead > 0 ? 'danger' : 'primary';
			var newMess = '<div class="font-weight-bold btn btn-small p-0 btn-'+color+' text-loght p-0 m-0 text-nowrap">' +
				  '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg> '+
				  (prestador.notRead > 0 ? prestador.notRead : '') + plural + '</div>'; 

		  	return'<div class="card border-waning bg-light text-dark col-sm-12 col-md-3 col-lg-3 col-xl-3 p-1 m-2 card btn-outline-warning align-top align-text-top" style="border-radius: 30px">'+
				'<div class="card-body row">'+
					'<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-1 text-center">'+
						'<img class="w-100 d-block" style="border-radius: 50%" src="'+prestador.avatar_url+'">'+
						'<a href="#" onclick="loadMensagens('+prestador.id+', \''+prestador.name+'\')">'+
							newMess +
						'</a>'+
					'</div>'+
					'<div class="col align-top align-text-top font-weight-bold">'+
						'<div class="col d-inline-block align-top align-text-top font-weight-bold">'+
							prestador.name +
						'</div>'+
						'<div class="col-12 align-top align-text-top">'+
							'<span class="m-1 bg-dark text-light col-12 d-block " style="border-radius: 5px">Servicos</span>'+
							servs+
						'</div>'+
					'</div>'+
				'</div>'+
			'</div>';
			
		}
		
		// Adiciona Prestador a lista
		function addPrestador(prestador){
			var botao = geraBotaoPrestador(prestador);
			$("#listaPrestadores").append(botao);
		}
		
		// Carrega Lista de Prestadores
		function loadPrestadores(servicoId, servicoName){
			gps();
			servico.id = servicoId;
			servico.name = servicoName;
			$("#distancia").attr('alt', servico.id);
			var distancia=$("#distancia").val();
			$.get("/api/s/"+servicoId+"/p?latitude="+position.latitude+"&longitude="+position.longitude+"&distancia="+distancia, function(contatos) {
				prestadores = contatos;
				$("#listaPrestadores").html('<h4 class="col-12">'+servicoName+'</h4>');
				contatos.forEach(addPrestador);
				show("Prestadores");
			});
		}	
		
		// Carregar Prestadores de todos os Servicos
		function loadAllPrestadores(){
			gps();
			$("#distancia").attr('alt', 'all');
			var distancia=$("#distancia").val();
			$.get("/api/us?latitude="+position.latitude+"&longitude="+position.longitude+"&distancia="+distancia, function(contatos) {
				prestadores = contatos;
				$("#listaPrestadores").html('<h4 class="col-12">Prestadores de Serviços</h4>');
				contatos.forEach(addPrestador);
				show("Prestadores");
			});
		}		
		
		// Atualiza GeoLocalização do Usuario
		function success(pos) {
			var crd = pos.coords;			
			$.ajax({
	            url: 'api/u/l',
	            type: 'post',
	            dataType: 'json',
	            contentType: 'application/json',
	            success: function (loc) {
					position = loc;
				},
	            data: JSON.stringify({ 
					time: new Date().getTime(),
					bearing : null,
					speed: crd.speed,
					altitude: crd.altitude,
					longitude: crd.longitude,
					latitude: crd.latitude,
					provider: ""
				})
	        });
		};
		
		// Erro ao capturar GeoLocializacao
		function error(err) {
			console.warn('ERROR(' + err.code + '): ' + err.message);
		};
		
		// Captura GeoLocalizacao
		function gps(){
			var options = {
				enableHighAccuracy: true,
				timeout: 5000,
				maximumAge: 0
			};
			navigator.geolocation.getCurrentPosition(success, error, options);
		}
		
		// Filtrar na lista de Prestadores
		function filterPrestadores(text){
			var find = false;
			$("#listaPrestadores").html('');
			prestadores.forEach(function(p){
				if(p.name.toLowerCase().indexOf(text.toLowerCase()) > -1){
					addPrestador(p); 								
				};
			});
		}
		
		// Carregar Lista de Contatos
		function loadContatos(){
			$.get("/api/u/c", function(contatos) {
				prestadores = contatos;
				$("#listaPrestadores").html('<h4 class="col-12">Meus Contatos</h4>');
				contatos.forEach(addPrestador);
				show("Prestadores");
			});
		}	
		
		  /////////////////////////////
		 //FUNÇÕES DA TELA MENSAGENS//
		/////////////////////////////
		
		// Converter para Data e Hora Local
		function convertUTCDateToLocalDate(dateString) {
			var date = new Date(dateString)
		    var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);
		    var offset = date.getTimezoneOffset() / 60;
		    var hours = date.getHours();
		    newDate.setHours(hours - offset);
		    dateString = newDate.toJSON();
		    return dateString;   
		}
		
		// Gerar card de mensagem
		function geraMensagen(mensagem){
			mensagem.created = convertUTCDateToLocalDate(mensagem.created);
			var color;
			if(mensagem.ready){
				color = 'primary';
			} else if(mensagem.delivery){
				color = 'success';
			} else {
				color = 'light';
			}
			var divdate = '<div class="text-1 text-'+color+'">'+mensagem.created.substring(11,16)+'<div>'
			var fromAvatar = '<img src="'+mensagem.from.avatar_url+'" style="border-radius: 50%; height: 40px">';
			if(mensagem.from.id == $("#SocialName").attr("alt")){
				return '<div class="d-flex justify-content-end text-dark"><div class="bg-info m-1 p-2" style="border-radius: 20px">'+mensagem.text+'</div>'+fromAvatar+divdate+'</div>';
			} else {
				return '<div class="d-flex justify-content-start text-dark">'+fromAvatar+'<div class="bg-light m-1 p-2" style="border-radius: 20px">'+mensagem.text+'</div>'+divdate+'</div>';	
			}
		}
		
		// Gerar /rotulo de data
		function criaRotuloData(date){
			var dia = date.substring(8,12);
			var mes = date.substring(5,7);
			var ano = date.substring(0,4);
			date = dia+'/'+mes+'/'+ano;
			return '<div class="mx-auto text-light text-center m-2 col-12 bg-secondary">'+date+'</dov>'
		}
		
		// Adicionar mensagem a lista 
		function addMensagem(mensagem, data){
			var div = geraMensagen(mensagem);
			$("#listaMensagens").append(div);
			lastMessageId = mensagem.id;
		}
		
		// carregar mensagens do contato
		async function loadMensagens(prestadorId, pretadorName){
			$.get("api/m/p/"+prestadorId, function(mensagens) {
				$("#titleMensagens").html(pretadorName	);
				$("#listaMensagens").html('');
				$("#buttonMensagem").val(prestadorId);
				var data;
				for(var i=0; i<mensagens.length; i++){
					var created = convertUTCDateToLocalDate(mensagens[i].created) 
					created = created.substring(0,10);
					if(data != created){
						var rotuloData = criaRotuloData(created);
						$("#listaMensagens").append(rotuloData); 
						data = created;
					}
					addMensagem(mensagens[i]);
				}
				show("Mensagens")
				$("#listaMensagens").append('<a name="lastMensagem" />');
				location.href="#lastMensagem";
				
			})
			
		}
		
		//carregar novas mensagens
		async function loadNewMensagens(prestadorId, messageId){
			$.get("api/m/p/"+prestadorId+"/new/"+messageId, function(mensagens) {
				var data;
				for(var i=0; i<mensagens.length; i++){
					var created = convertUTCDateToLocalDate(mensagens[i].created) 
					created = created.substring(0,10);
					if(data != created){
						var rotuloData = criaRotuloData(created);
						$("#listaMensagens").append(rotuloData); 
						data = created;
					}
					addMensagem(mensagens[i]);
				}
				location.href="#lastMensagem";
			})
		}
		
		// loop de novar mensagens
		function loopMensagens(){
			countNew();
			var PrestadorId = $("#buttonMensagem").val();
			var div = $("#listaMensagem"); 
			if(loop){
				loadNewMensagens(PrestadorId, lastMessageId);
			}
		}
		
		// Enviar ao pressionar a tecla ENTER
		$('input[type=text]').on('keydown', function(e) {
		    if (e.which == 13) {
		    	sendMensagem();
		    }
		});
		
		// Enviar Mensagems
		function sendMensagem(){
			var mens = $('#inputMensagem').val();
			var prestadorId = $('#buttonMensagem').val();
			if(mens!=null && mens!=''){
				$.post(
					"api/m", 
					{ text: mens, id: prestadorId },
					function(mensagem){ addMensagem(mensagem) }
				);
				$('#inputMensagem').val('');
				$("#inputMensagem").focus();
			}
		}
		
		//Contagem de novas mensagens
		function countNew(){
			$.get(
				"api/m/new", 
				function(countNew){
					if(countNew > 0){
						$("#newMenssages").html(countNew);
						$("#newMenssages2").html(countNew);
						$("#newMenssages").show();
						$("#newMenssages2").show();
					} else {
						$("#newMenssages").hide();
						$("#newMenssages2").hide();
					}
				}
			);
		}
		
		  /////////////////////////////////
		 //FUNÇÕES DA TELA MEUS SERVIÇOS//
		/////////////////////////////////
		
		// Gerar botao de adicionar Servico
		function geraBotaoAddServico(servico){
			return'<div onclick="addServicos('+servico.id+')" class="col-sm-12 col-md-12 col-lg-5 col-xl-3 p-1 m-1 text-light btn btn-success btn-outline-warning align-top align-text-top font-weight-bold" style="border-radius: 30px">'+
				servico.name + '</div>';
		}
		
		// Gerar botao de remover Servico  
		function geraBotaoRemoveServico(servico){
			return'<div onclick="remServicos('+servico.id+')" class="col-sm-12 col-md-12 col-lg-5 col-xl-3 p-1 m-1 text-light btn btn-danger btn-outline-warning align-top align-text-top font-weight-bold" style="border-radius: 30px">'+
				servico.name + '</div>';
		}
		
		// Card de Servico adicionado
		function added(servico){
			var botao = geraBotaoRemoveServico(servico);
			$("#myservicos").append(botao);
		}
		
		// Card de Servico nao adicionado		
		function notAdded(servico){
			var botao = geraBotaoAddServico(servico);
			$("#noservicos").append(botao);
		}
	
		// Adicionar Servico
		function addServicos(id){
			$.ajax({
			    url: "/api/u/s/"+id,
			    type: 'PUT',
			    success: function(myservicos) {
			    	$("#myservicos").html('');
					$("#noservicos").html('');
					myservicos[0].forEach(added);
					myservicos[1].forEach(notAdded);
			    }
			});
		}
		
		// Remover Servico
		function remServicos(id){
			$.ajax({
			    url: "/api/u/s/"+id,
			    type: 'DELETE',
			    success: function(myservicos) {
			    	$("#myservicos").html('');
					$("#noservicos").html('');
					myservicos[0].forEach(added);
					myservicos[1].forEach(notAdded);
			    }
			});
		}
		
		// Carregar listas de Meus Servicos
		function loadMyServicos(){
			$.get("/api/u/s", function(myservicos) {
				$("#myservicos").html('');
				$("#noservicos").html('');
				myservicos[0].forEach(added);
				myservicos[1].forEach(notAdded);
			});
			show("listaMeusServicos");
		}
		
		// Pegar dados de Usuario
		function getUser(){
			$.get("api/u", function(u) {
				user = u;
			});
			return(user)
		}
		
		// Alternar entre telas
		function show(div){
			$("#Servicos").hide();
			$("#Prestadores").hide();
			$("#listaMeusServicos").hide();
			$("#Mensagens").hide();
			$('#'+div).show();
			if(div == 'Mensagens') {loop = true} else {loop = false};
		}
		
		// Execução ao iniciar
		gps();
		//getUser();	
		countNew();
		loadServicos();
		setInterval(loopMensagens, 10000);
		
		  ///////////////////
		 // start webpushr// 
		///////////////////
		
		(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";
		fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));
		webpushr('setup',{'key':'BDNhX2aQcjWvQ-PCMhsr94F3OazoCRc-8pMcwGl3A1JebG92i9uEzK3o5Oc7vL3szIkOKC_v64yTft93gBXeH4o' });
		webpushr('fetch_id',function (sid) {
			$.ajax({
			    url: "/api/u/push/"+sid,
			    type: 'GET',
			    success: function(myservicos) {
			    }
			});
		});
		// end webpushr
		
		/*var l = window.location.href;
		if(l.indexOf("#newmessages/") != -1){
			var u = l.substring(l.indexOf("#newmessages")+13);
			$.get("api/m/p/"+prestadorId, function(user) {
				loadMensagens(user.id, user.name);
			}
		}*/
		
	</script> 
</body>
</html>