<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{adminlayout}" > 
<head>
    <meta charset="utf-8"/>
</head>
<body>
	<section layout:fragment="corpo" class="layout-content d-flex flex-wrap justify-content-center" style="height: 100%; width:100%; backgorund-color: blue">
		<main role="main" class="col-12 h-100 d-inline-block d-flex align-items-end flex-column" style="height: 100%">
			<div class="bg-dark col-12 h-100 d-inline-block align-items-stretch " style="border-radius:50; height: 100%;">
				<div id="Servicos" class="col-12 p-0" style="display: none">
					<div id="listaServicos" class="col-12 text-light mb-35 row" >
					
					</div>
					<div class="col-12 text-light row ml-2 mr-2 p-2 fixed-bottom" style="bottom: 20px; width:100%">
						<input id="FilterServico" type="text" onkeyup="filterServicos(this.value)" value="" class="form-control col-8">
						<button id="buttonServico" value="" class="btn btn-success col-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						  		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>
						</button>
					</div>	
				</div>
				<div id="Prestadores" class="col-12 p-0" style="display: none">
					<div id="listaPrestadores" class="col-12 text-light mb-35 row" >
					
					</div>
					<div class="col-12 bg-light row ml-2 mr-2 p-2 fixed-bottom" style="bottom: 20px; width:100%">
						<div class="col-12 ml-2 mr-2">
							<label class="form-label">Distância</label>
							<input type="range" id="distancia" alt="all" class="form-range" min="1" max="1000" step="1" value="20" onChange="this.alt == 'all' ? loadAllPrestadores() : loadPrestadores(servico.id, servico.name)" onInput="$('#distanciaLabel').html(this.value)">
							<span class="form-label" id="distanciaLabel">20</span>
						</div>
						<input id="FilterPrestadores" type="text" onkeyup="filterPrestadores(this.value)" value="" class="form-control col-8">
						<button id="buttonServico" value="" class="btn btn-success col-2 text-light">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						  		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>
						</button>
					</div>
				</div>
				<div id="Mensagens" class="col-12 text-light p-3 m-0 fixed-top w-100 h-75 overflow-auto" style="display: none; top:90px; button:80px">
					
					<div class="col-12 d-block bg-primary text-light fixed-top p-1" style="top:60px">
						<h4 class="btn btn-light btn-outline-warning float-left mr-2" onclick="show('Prestadores');"><<</h4><h5 id="titleMensagens"></h5>
					</div>
					<div id="listaMensagens" class="col-12 d-inline-block text-dark h-80 p-1 mb-25 align-content-end">
					
					</div>
					<div id="enviaMensagens" class="col-12 text-light row ml-2 mr-2 p-2 fixed-bottom" style="bottom: 20px; width:100%">
						<input id="inputMensagem" type="text" value="" class="form-control col-8">
						<button id="buttonMensagem" value="" onclick="sendMensagem()" class="btn btn-success col-2 p-1">Enviar</button>
					</div>	
				</div>				
				<div id="listaMeusServicos" class="row ol-12 text-light" style="display: none">
					<div class="col-6 bg-success" >
						Serviços Disponíveis
					</div>
					<div class="col-6 bg-warning">
						Serviços Adicionados
					</div>
					<div id="noservicos" class="col-6 p-2 border border-success">
					</div>
					
					<div id="myservicos" class="col-6 p-2 border border-warning">
					</div>
				</div>
			</div>
		</main>
		<script th:replace="fragments/adminscripts :: scripts"></span>
		</script>
	</section>
</body>
</html>